
body {
overflow:scroll;
overflow-x:hidden;
padding: 0;
margin: 0;
background: #E2E2E2;
width: 100%;
vertical-align: top;
font-family:"微軟正黑體";
font-weight:bolder;

color: #6D6D6D;
line-height: 13px;
font-size: 11px;

}

.couponDetaGrid{
	display:inline;
}

input[type="text"], input[type="password"],select{border: 1px solid #ccc; height: 25px; padding: 0 10px; width: 100px; position: relative; 
	-moz-box-shadow: inset 0 0 10px rgba(0,0,0,.06);
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.06);
	box-shadow: inset 0 0 10px rgba(0,0,0,.06);
	z-index: 2;
	}
	
	
input[type="button"]{
	background-color: #FFF;

	color: #6D6D6D;
	border:#000 0px dashed;
	cursor: pointer; 
	height: 25px; 
	width: 110px;
	font-weight:bolder;
	font-size:11px;
	font-family:"微軟正黑體";
	
	-moz-box-shadow:inset  0 0 2px ;
	-webkit-box-shadow:inset  0 0 2px ;
	box-shadow:inset  0 0 2px ;


-webkit-border-radius: 6px 6px 6px  6px;
-moz-border-radius: 6px 6px 6px  6px;
-ms-border-radius: 6px 6px 6px  6px;
-o-border-radius: 6px 6px 6px  6px;
border-radius:   6px 6px 6px  6px ;	
}


#copyBut{
	background-color: #333;
	background: -moz-linear-gradient(bottom, #333, #444);
	background: -ms-linear-gradient(bottom, #333, #444);
	background: -o-linear-gradient(bottom, #333, #444);
	background: -webkit-linear-gradient(bottom, #333, #444);
	background: linear-gradient(bottom, #333, #444);
	border: 1px solid #222; color: #fff; cursor: pointer; height: 20px; width: 35px;
	
}


input[type="button"]:hover{color: #ff6937;text-shadow: 0 0 1px rgba(255,255,255,.2);}
#copyBut:hover{color: #ff6937;text-shadow: 0 0 1px rgba(255,255,255,.2);}


.navigation {
	float:left;
display:inline-block;

}
.navigation2 {

margin:auto;
width: 100%;
background: #C4C4C4;
border-bottom: 2px solid #EEEEEE;
}
.form_navigation {

padding-right: 5px;
padding-left: 5px;
padding-bottom: 5px;

}
#topist {
text-align: center;
width: 100%;
vertical-align: top;
}


.navigation .right {
float: right;
padding-right: 100px;
padding: 10px;
overflow:auto;
}
.logo{
	display:inline;
}
.navigation .logo {
	
	float : left;
	margin:auto;
}

.main {
	width : 60%;
	align : center;
}

.listH2{
	text-align: center;
	
}
.listCouponInfo{
	text-align: left;
	
	
}
#submitSearch{
	width:30%;	
}
.couponDatas {
display:inline-table;
padding-bottom:20px;
margin-top:30px;
width: 90%;
height:100px;

background:#CCC;
border:#060 3px ;
border-radius:50px;
}

.couponData:hover{
-moz-box-shadow:  0 0 20px rgba(50%,50%,50%,2);
-webkit-box-shadow:  0 0 20px rgba(50%,50%,50%,2);
box-shadow:  0 0 20px rgba(50%,50%,50%,2));
}
.couponData {
	z-index:1;
text-align: center;
float:left;
width: 300px; 
height : 200px;
background: white;

border:grey 2px dashed; 

padding-right: 3px;
padding-left: 3px;


margin-top:20px; 
margin-left:50px; 
margin-right:10px; 
margin-bottom:10px; 

}

.couponDataNotValid {
text-align: center;
margin: auto;
width: auto;

background:#999;
border:grey 2px dashed; 

padding-right: 3px;
padding-left: 3px;


margin-top:10px; 
margin-left:5px; 
margin-right:5px; 
margin-bottom:5px; 

overflow:auto;
}

.couponInfo{
	text-align:left;
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 3px;
}
.couponTitle{
	border-bottom: 2px solid #EEEEEE;
}
.listCoutponTitle{

	border-bottom: 2px solid red;
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 3px;
	
}
.couponData .couponRight {
		float: right;
}
.couponData .couponLeft {
		margin-left:10px;
		float: left;
}
.couponData .couponCenter {	
		float: center;
}
.listCouponValidFail{
		color:red;
}
.listCouponValidSuccess{
		color:green;
}
.needShadow{
-moz-box-shadow:  0 0 20px rgba(50%,50%,50%,2);
-webkit-box-shadow:  0 0 20px rgba(50%,50%,50%,2);
box-shadow:  0 0 20px rgba(50%,50%,50%,2));
-webkit-border-radius: 6px 6px 6px  6px;
-moz-border-radius: 6px 6px 6px  6px;
-ms-border-radius: 6px 6px 6px  6px;
-o-border-radius: 6px 6px 6px  6px;
border-radius:   6px 6px 6px  6px ;	
}
.needInsetShadow{
	-moz-box-shadow:inset  0 0 20px rgba(50%,50%,50%,2);
-webkit-box-shadow:inset  0 0 20px rgba(50%,50%,50%,2);
box-shadow:inset  0 0 20px rgba(50%,50%,50%,2));
-webkit-border-radius: 6px 6px 6px  6px;
-moz-border-radius: 6px 6px 6px  6px;
-ms-border-radius: 6px 6px 6px  6px;
-o-border-radius: 6px 6px 6px  6px;
border-radius:   6px 6px 6px  6px ;	
}
.couponSearch{
	margin:auto;
	width:18%;
padding-right: 5px;
padding-left: 5px;
padding-bottom: 5px;
padding-top: 5px;
	-moz-box-shadow:  0 0 20px rgba(50%,50%,50%,2);
	-webkit-box-shadow:  0 0 20px rgba(50%,50%,50%,2);
	box-shadow:  0 0 20px rgba(50%,50%,50%,2));
-webkit-border-radius: 6px 6px 6px  6px;
-moz-border-radius: 6px 6px 6px  6px;
-ms-border-radius: 6px 6px 6px  6px;
-o-border-radius: 6px 6px 6px  6px;
border-radius:   6px 6px 6px  6px ;



}
.couponData .couponMenu{
	float: left;
	border-right:#3F9 10px ; 
	height:180px;
}
.infoImage{
display:block;
background: url(../images/info.png)   no-repeat;

margin-top:3px;
margin-left:3px;
width: 20px;
height: 20px;

}



.infoImage:hover{
}
.message:hover{
}
.visitorNum{
margin-top:10px;
float:right;
-moz-box-shadow:  0 0 20px rgba(50%,50%,50%,2);
-webkit-box-shadow:  0 0 20px rgba(50%,50%,50%,2);
box-shadow:  0 0 20px rgba(50%,50%,50%,2));
}
.search-icon span{
	display: block;
	background: url(../images/icons.png) 0 -271px;
	height: 30px;
	width: 30px;
}
.votedown {
	display:block;
background: url(../images/icons.png) 7px -969px  #CF0 no-repeat;



-webkit-border-radius: 6px 0 0 6px;
-moz-border-radius: 6px 0 0 6px;
-ms-border-radius: 6px 0 0 6px;
-o-border-radius: 6px 0 0 6px;
border-radius:  0 6px 6px 0 ;
width: 31px;
height: 24px;
float:left;
}
.voteup:hover{
background: url(../images/icons.png) 7px -716px red no-repeat;


-moz-box-shadow:0px 0px 2px rgba(20%,20%,40%,0.6),0px 0px 6px rgba(20%,20%,40%,0.4),0px 0px 12px rgba(20%,20%,40%,0.4);
-webkit-box-shadow:0px 0px 2px rgba(20%,20%,40%,0.6),0px 0px 6px rgba(20%,20%,40%,0.4),0px 0px 12px rgba(20%,20%,40%,0.4);
box-shadow:0px 0px 2px rgba(20%,20%,40%,0.6),0px 0px 6px rgba(20%,20%,40%,0.4),0px 0px 12px rgba(20%,20%,40%,0.4);


-webkit-border-radius: 6px 0 0 6px;
-moz-border-radius: 6px 0 0 6px;
-ms-border-radius: 6px 0 0 6px;
-o-border-radius: 6px 0 0 6px;
border-radius: 6px 0 0 6px;
width: 31px;
height: 24px;
}
.votedown:hover{
background: url(../images/icons.png) 7px -969px  #060 no-repeat;
-moz-box-shadow:0px 0px 2px rgba(20%,20%,40%,0.6),0px 0px 6px rgba(20%,20%,40%,0.4),0px 0px 12px rgba(20%,20%,40%,0.4);
-webkit-box-shadow:0px 0px 2px rgba(20%,20%,40%,0.6),0px 0px 6px rgba(20%,20%,40%,0.4),0px 0px 12px rgba(20%,20%,40%,0.4);
box-shadow:0px 0px 2px rgba(20%,20%,40%,0.6),0px 0px 6px rgba(20%,20%,40%,0.4),0px 0px 12px rgba(20%,20%,40%,0.4);
-webkit-border-radius: 6px 0 0 6px;
-moz-border-radius: 6px 0 0 6px;
-ms-border-radius: 6px 0 0 6px;
-o-border-radius: 6px 0 0 6px;
border-radius:  0 6px 6px 0 ;
width: 31px;
height: 24px;
}
.voteup{
float:left;

display:block;
background: url(../images/icons.png) 7px -716px #CF0 no-repeat;
-webkit-border-radius: 6px 0 0 6px;
-moz-border-radius: 6px 0 0 6px;
-ms-border-radius: 6px 0 0 6px;
-o-border-radius: 6px 0 0 6px;
border-radius: 6px 0 0 6px;
width: 31px;
height: 24px;
}

.message {
z-index:1;
float:right;

display:block;
background: url(../images/comment.png)  no-repeat;
width: 20px;
height: 20px;
}

.voting {
text-align: right;
display: block;
float: left;
margin-right: 4.11092%;
width: 10.76207%;
margin-top: -4px;
font-size: 13px;
color: #666;
line-height: 16px;
}


.function_flag {
	background:url(../images/icons.png)0 -475px;
height: 24px;
width: 21px;
}

.function_heart{
	background:url(../images/icons.png)0 -433px;
height: 20px;
width: 40px;
}

.function_facebook {
	background:url(../images/icons.png)0 -520px;
height: 30px;
width: 40px;
}
ul > li{
display:inline-block;
	
list-style-type: none;
margin: 0;
padding: 0;

}
.functionList ul{
	text-align:left;
	left:50%;
}
.couponValid{
	
}
textarea{
padding-right: 5px;
padding-left: 5px;
padding-bottom: 5px;
padding-top: 5px;
}
.hideComments{
	display:none;
}
div[name="commentsStyle"]{
		background-color:#FFF;

border:grey 2px dashed; 
}
.comment{
	background-color:#FFF;

	height:180px;
	width::280px;
	overflow:auto;
}
.right{
	float:right;	
}
.comments{
	
}
.messageNum{

	text-align:justify;
	font-size:17px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style:italic;
	z-index:5;
	color:#C00;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
.thumb {
display: inline-block;
margin: auto;
border: 2px solid #EEEEEE;

}
.needRadius
{
-webkit-border-radius: 6px 0 0 6px;
-moz-border-radius: 6px 0 0 6px;
-ms-border-radius: 6px 0 0 6px;
-o-border-radius: 6px 0 0 6px;
border-radius:   6px 6px 6px  6px ;
}

.commentWords{
	margin:auto;
}
.commentWord{
	background-color:#FFF;

border-top:2px #CCC dotted;
width:70%;

	padding: 20px;


margin:auto;

}
.space{
		padding: 10px;
}
.commentsList{
	z-index:2;
	float:left;
	background:  #EEEEEE no-repeat;

-webkit-border-radius: 6px 6px 6px  6px;
-moz-border-radius: 6px 6px 6px  6px;
-ms-border-radius: 6px 6px 6px  6px;
-o-border-radius: 6px 6px 6px  6px;
border-radius:   6px 6px 6px  6px ;

}
.booponFont{
	color:#060;
	text-shadow:#0F0 2px 0 7px ;
}
#commentTextArea{
	margin:10px;	
	
}
#messageBut{
	
	
}



.description{
text-align: left;
float:right;

width: 500px;





padding-right: 8px;
padding-left:20px;


margin-top:10px; 
margin-left:5px; 
margin-right:5px; 
margin-bottom:5px; 

overflow:auto;

background-color:#CCC;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
-ms-border-radius: 25px;
-o-border-radius: 25px;
border-radius:   25px;

}
.error {
	color:#900;	
}
.footer{
	height:80px;
	background:#CCC;
	margin-top:100px;
	
}
.ads{
	
	
overflow:auto;
overflow-y:hidden;
background-color:#CCC;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
-ms-border-radius: 25px;
-o-border-radius: 25px;
border-radius:   25px;
padding:10px;
margin:auto;
width:1000px;


}
.ad{
	float:right;
}
.adDesc{
	text-align:left;
	float:left;	
	padding:20px;

	margin-top:10px;
	height:200px;
	
	-webkit-border-radius: 25px;
-moz-border-radius: 25px;
-ms-border-radius: 25px;
-o-border-radius: 25px;
border-radius:   25px;
-moz-box-shadow:  0 0 20px rgba(50%,50%,50%,2);
-webkit-box-shadow:  0 0 20px rgba(50%,50%,50%,2);
box-shadow:  0 0 20px rgba(50%,50%,50%,2));
}
.menus{
	
}
.menus:hover{

}
.mouseDiv{
opacity:0.2;
filter:alpha(opacity=20);
-moz-opacity:0.2;
position:absolute;
z-index:20;
padding-top: 6px;
padding-left: 3px;
right:100px;
top:200px;
}
.fbMenu:hover{

}